html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 320px;
}
.botui-app-container {
  margin-top: 80px;
  margin-bottom: 0px;
}
.page-header {
  position: fixed;
  top:0;
  left:0;
  width: inherit; 
  background-color: #3c4f58;
  border-bottom: 2px dotted #c4c25f;
  border-bottom: 4px solid #1a9b8c;
  color: white;
  padding: 10px;
  margin: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.button.botui-actions-buttons-button, input.botui-actions-text-input{
  width: 80%;
}

.botui-container {
  background-color: rgb(224, 224, 224);
  max-width: inherit;
  width: inherit;
}
.botui-message-content {
  color: rgb(255, 255, 255);
  background-color: rgb(94, 124, 104);
}
.botui-messages-container{
  padding: 10px;
  bottom: 50px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.botui-message-content.human {
  background-color: rgb(124, 124, 124);
  margin-bottom: 20px;
}

 .botui-actions-text-input {
  position: fixed;
  bottom: 10px;
  width: inherit;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #3498DB;
  opacity: 1;
  z-index: 100;
  margin-top: 4px;
} 

.botui-actions-buttons-button {
  line-height: 1 !important;
  background-color: #3498DB;
}

.botui-message-content-link {
  color: #F1C40F;
}

.botui-actions-text-submit {
  position: fixed;
  bottom: 10px;
  right: 30px;
}
